.center {
  margin: auto;
  margin-top: 250px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.btn {
  background-color: grey /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  /*text-decoration: none;*/
  /*display: inline-block;*/
  font-size: 16px;
}